@use "../variables" as *;
.accordions {
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gutter-lg);
  }

  &__header {
    align-self: start;
    position: sticky;
    top: calc(var(--spacer) + var(--gap-sm));
    transition: top var(--transition-duration-ease-in-out);

    body.scrolling-up & {
      top: calc(var(--spacer) + var(--gap));
    }
  }

  &__accordions {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
  }

  &__accordion {
    background-color: var(--color-light);

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: var(--gap-sm);
      cursor: pointer;
    }
    &-icon {
      position: relative;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: var(--color-primary-1);
      transition: background-color var(--transition-duration-ease-in-out),
        transform var(--transition-duration-ease-in-out);

      &-line {
        position: absolute;
        width: 50%;
        height: 2px;
        background-color: var(--color-light);
        &:nth-child(1) {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &:nth-child(2) {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(-90deg);
        }
      }
    }

    &-text {
      max-height: 0;
      overflow: hidden;
      padding: 0 var(--gap-sm);
      &-inner {
        padding-bottom: var(--gap-sm);

        p {
          font-size: var(--font-size-body-md);
          line-height: 1.2;
        }
      }
    }

    &:hover,
    &.active {
      .accordions {
        &__accordion {
          &-icon {
            background-color: var(--color-primary-2);
          }
        }
      }
    }

    &.active {
      .accordions {
        &__accordion {
          &-text {
            max-height: 100%;
          }
          &-icon {
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}
