@use "../variables" as *;
.experience-paths {
  padding-bottom: calc(var(--spacer) + 10%);
  text-align: center;
  text-wrap: balance;
  z-index: 2;
  @media screen and (max-width: $breakpoint-mobile) {
    padding-bottom: var(--spacer);
    padding-inline: 0;
  }
  &__background {
    pointer-events: none;
    opacity: 0.3;
    &-image {
      position: absolute;
      z-index: -1;
      width: 15%;
      @media screen and (max-width: $breakpoint-mobile) {
        width: 25%;
      }
      &:nth-child(1) {
        top: 10%;
        left: 0;
      }
      &:nth-child(2) {
        bottom: 10%;
        right: 0;
        @media screen and (max-width: $breakpoint-mobile) {
          bottom: 0;
        }
      }
    }
  }
  &__header {
    margin-bottom: var(--spacer);
    @media screen and (max-width: $breakpoint-mobile) {
      padding-inline: var(--gutter);
    }
  }
  &__paths {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gutter) 0;
    @media screen and (max-width: $breakpoint-mobile) {
      display: flex;
      overflow-x: auto;
      padding-top: var(--gap);
      padding-bottom: var(--gap-sm);
    }

    &[data-path-count="1"] {
      grid-template-columns: 1fr;
      max-width: 720px;
      margin-inline: auto;
      margin-bottom: -10vw;
      .experience-paths {
        &__line {
          display: none;
        }
      }
    }
  }
  &__line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: calc(100% - var(--gutter-lg));
    height: 70%;
    transform: scaleX(-1);
    margin: auto;
    z-index: -1;
    @media screen and (max-width: $breakpoint-mobile) {
      display: none;
    }
  }
  &__path {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-sm);
    pointer-events: none;
    align-self: start;
    justify-self: center;
    width: calc(90% - var(--spacer-lg));
    flex-shrink: 0;
    @media screen and (max-width: $breakpoint-mobile) {
      padding-inline: var(--gutter-lg);
      width: calc(95% - var(--spacer));
    }
    &-images {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: "a";
      width: 80%;
      margin-inline: auto;
      margin-bottom: var(--gap);
    }
    &-media {
      grid-area: a;
      transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    &-image {
      aspect-ratio: 330 / 415;
      object-fit: cover;
      width: 100%;
    }
    &:nth-child(odd) {
      .experience-paths__path-images {
        .experience-paths__path-media {
          &:nth-child(1) {
            transform: rotate(-5deg) translateX(-10%);
          }
          &:nth-child(2) {
            transform: rotate(8deg) translateX(10%);
          }
        }
      }
      &:hover {
        .experience-paths__path-images {
          .experience-paths__path-media {
            &:nth-child(1) {
              transform: rotate(-10deg) translateX(-25%);
            }
            &:nth-child(2) {
              transform: rotate(13deg) translateX(25%);
            }
          }
        }
        .button__text {
          color: var(--color-primary-2);
          &::after {
            background-color: var(--color-primary-2);
            transform: scale(1.2) translateX(5%);
          }
        }
      }
    }
    &:nth-child(even) {
      margin-top: 50%;
      margin-bottom: -25%;
      @media screen and (max-width: $breakpoint-mobile) {
        margin-top: 0;
        margin-bottom: 0;
      }
      .experience-paths__path-images {
        .experience-paths__path-media {
          &:nth-child(1) {
            transform: rotate(5deg) translateX(10%);
          }
          &:nth-child(2) {
            transform: rotate(-8deg) translateX(-10%);
          }
        }
      }
      &:hover {
        .experience-paths__path-images {
          .experience-paths__path-media {
            &:nth-child(1) {
              transform: rotate(10deg) translateX(25%);
            }
            &:nth-child(2) {
              transform: rotate(-13deg) translateX(-25%);
            }
          }
        }
        .button__text {
          color: var(--color-primary-2);
          &::after {
            background-color: var(--color-primary-2);
            transform: scale(1.2) translateX(5%);
          }
        }
      }
    }
    &.animate-in {
      pointer-events: auto;
    }
  }
}
