.faq {
  &__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--gutter-lg);
  }

  &__tabs {
    width: 100%;
    align-self: start;
    position: sticky;
    top: calc(var(--menu-main-height) + var(--gap));
    transition: top var(--transition-duration-ease-in-out);
    max-height: calc(95vh - var(--menu-main-height) - var(--gap));
    overflow-y: auto;
    body.scrolling-up & {
      max-height: calc(95vh - var(--menu-height) - var(--gap));
      top: calc(var(--menu-height) + var(--gap));
    }
  }

  &__tab {
    display: block;
    position: relative;
    width: 100%;
    background-color: var(--color-light);
    padding: var(--gap-sm);
    border: 1px solid var(--color-neutral-4);
    &:not(:last-child) {
      border-bottom: none;
    }

    &:after {
      content: "";
      position: absolute;
      top: var(--gap-sm);
      right: var(--gap-sm);
      width: 4px;
      height: calc(100% - var(--gap-sm) * 2);
      background-color: var(--color-primary-1);
      opacity: 0;
    }

    &-content {
      display: flex;
      align-items: center;
      gap: var(--gap);
      opacity: 0.6;
    }

    &:hover {
      .faq__tab-content {
        opacity: 1;
      }
    }

    &.active {
      &:after {
        opacity: 1;
      }
      .faq__tab-content {
        opacity: 1;
      }
    }
  }
  &__groups {
    display: flex;
    flex-direction: column;
  }

  &__group {
    padding-block: var(--gap-sm);
  }
}
