@use "../variables" as *;

.hero {
  padding: 0;
  .page-container {
    padding: 0;
    max-width: 100%;
  }

  &__preload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "a";
    scale: 0.5;
    overflow: hidden;
    &-image {
      grid-area: a;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__background {
    aspect-ratio: var(--aspect-video);
    pointer-events: none;
    overflow: hidden;

    @media screen and (min-width: $breakpoint-desktop) {
      aspect-ratio: var(--aspect-ultrawide);
    }

    @media screen and (max-width: $breakpoint-mobile) {
      aspect-ratio: 720 / 960;
    }

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-dark);
      opacity: 0.6;
      z-index: 1;
    }

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: var(--spacer) var(--gutter);
    color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 2;
    transition: opacity var(--transition-duration-ease-in-out);
  }

  &__header {
    text-align: left;
    width: 50%;

    @media screen and (max-width: $breakpoint-mobile) {
      width: 100%;
    }
  }

  &__pre-heading {
    color: var(--color-light);
  }

  &__heading {
    color: var(--color-light);
    em,
    i {
      color: inherit;
    }
  }

  &__description {
    color: var(--color-light);
  }

  &__cta {
    &-link {
      a {
        @media screen and (max-width: $breakpoint-mobile) {
          width: calc(80% - var(--gap-sm));
        }
      }
    }
  }

  &__play-button {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacer);
    cursor: pointer;
    border: 2px dotted var(--color-light);
    padding: var(--gap-xs);
    border-radius: var(--border-radius-sm);

    @media screen and (max-width: $breakpoint-mobile) {
      position: absolute;
      bottom: var(--spacer);
      right: var(--gutter);
      width: 20%;
      height: 3rem;
      padding: var(--gap-xxs);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      z-index: 1;
      text-align: center;
      color: var(--color-light);

      &::before {
        content: "▶";
        color: inherit;
        margin-right: var(--gap-xs);
      }

      @media screen and (max-width: $breakpoint-mobile) {
        color: transparent;

        &::before {
          content: "▶";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  &--playing {
    .hero__background {
      pointer-events: auto;
      &-overlay {
        opacity: 0 !important;
      }
    }
    .hero__content {
      opacity: 0;
      pointer-events: none;
    }
  }
}
