@use "../variables" as *;
.horizontal-gallery {
  padding: 0;
  padding-top: min(7%, 134.4px);
  overflow-x: hidden;
  @media screen and (max-width: $breakpoint-mobile) {
    padding-top: 15%;
  }
  &__background {
    pointer-events: none;
    opacity: 0.3;
    &-image {
      position: absolute;
      z-index: -1;
      width: 15%;
      bottom: 50%;
      right: 0;
      @media screen and (max-width: $breakpoint-mobile) {
        width: 25%;
      }
    }
  }
  .page-container {
    padding: 0;
  }
  &__container {
    display: flex;
    gap: var(--gap);
    overflow: visible;
    @media screen and (min-width: $breakpoint-desktop) {
      justify-content: center;
    }
  }
  &__media {
    width: 25%;
    position: relative;
    @media screen and (max-width: $breakpoint-mobile) {
      width: 70%;
    }

    &:nth-child(odd) {
      transform: rotate(-4deg);
    }
    &:nth-child(even) {
      transform: rotate(4deg);
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-dark);
      opacity: 0;
      z-index: 1;
      transition: opacity var(--transition-duration-ease-in-out);
    }
    &-image {
      aspect-ratio: var(--aspect-portrait);
      object-fit: cover;
    }
    &-caption {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: var(--gap-sm);
      color: var(--color-light);
      opacity: 0;
      transition: opacity var(--transition-duration-ease-in-out);
      z-index: 2;
    }
    &.has-caption {
      &:hover {
        &:before {
          opacity: 0.5;
        }
        .horizontal-gallery__media-caption {
          opacity: 1;
        }
      }
    }
  }
}
