@use "../variables" as *;
.media {
  padding: 0;
  position: relative;
  &__background {
    pointer-events: none;
    opacity: 0.3;
    &-image {
      position: absolute;
      z-index: -1;
      width: 15%;
      @media screen and (max-width: $breakpoint-mobile) {
        width: 25%;
      }
      &:nth-child(1) {
        top: -50%;
        left: 0;
      }
      &:nth-child(2) {
        bottom: -50%;
        right: 0;
      }
    }
  }

  &__container {
    max-width: var(--container-width);
    margin-inline: auto;
    video,
    img {
      width: 100%;
    }
  }
}
