@use "../variables" as *;
.testimonial-slider {
  padding-inline: 0;
  overflow-x: hidden;
  .page-container {
    padding-inline: 0;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: calc(var(--gutter) + var(--gap-lg));
    @media screen and (max-width: $breakpoint-mobile) {
      padding-inline: var(--gutter);
      flex-direction: column;
      gap: var(--gap);
    }
  }
  &__header {
    width: 45%;
    text-wrap: unset;
    @media screen and (max-width: $breakpoint-mobile) {
      width: 100%;
      order: 2;
    }
  }
  &__badge {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
    @media screen and (max-width: $breakpoint-mobile) {
      width: 100%;
    }
  }
  &__testimonials {
    &-wrapper {
      margin-block: var(--gap);
    }
  }
  &__testimonial {
    width: 80%;
    padding: var(--gap);
    background-color: var(--color-light);
    display: grid;
    grid-template-columns: 25% 1fr auto;
    grid-template-areas:
      "image quote quote"
      "image attribution location"
      "image additional-details button";
    grid-template-rows: 1fr auto auto;
    gap: 0 var(--gap-lg);
    opacity: 0.3;
    transition: opacity var(--transition-duration-ease-in-out);
    margin-inline: var(--gap-sm);
    @media screen and (max-width: $breakpoint-mobile) {
      margin-inline: var(--gap-xxs);
    }
    @media screen and (max-width: $breakpoint-mobile) {
      grid-template-columns: 1fr;
      grid-template-areas: "image" "quote" "attribution" "additional-details" "button";
      grid-template-rows: auto auto auto auto 1fr;
      padding: var(--gap-sm);
      gap: var(--gap);
    }
    &-image {
      grid-area: image;
      height: 100%;
      object-fit: cover;
      @media screen and (max-width: $breakpoint-mobile) {
        aspect-ratio: var(--aspect-square);
        height: auto;
      }
    }
    &-quote {
      grid-area: quote;
      padding-bottom: var(--gap-lg);
      @media screen and (max-width: $breakpoint-mobile) {
        padding-bottom: 0;
      }
    }
    &-attribution {
      grid-area: attribution;
      display: flex;
      align-items: center;
      gap: 0.2rem;
      @media screen and (max-width: $breakpoint-mobile) {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--gap-xs);
      }
      &-location {
        &::before {
          content: "—";
          margin-right: var(--gap-xs);
          margin-left: var(--gap-xs);
        }
      }
    }
    &-location {
      grid-area: location;
    }
    &-additional-details {
      grid-area: additional-details;
      align-self: center;
    }
    &-button {
      grid-area: button;
      text-align: center;
      align-self: end;
    }

    &.swiper-slide-active {
      opacity: 1;
    }
  }
}
