@use "variables" as *;

.site-footer {
  background: url("assets/footer__background.png") 50% 0% / cover no-repeat;
  padding: var(--gap-lg) 0 var(--gap-sm);
  position: relative;
  color: var(--color-light);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000040;
    z-index: 1;
  }

  &__container {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "site-footer__content site-footer__navigation"
      "site-footer__bottom site-footer__bottom";
    gap: var(--spacer);

    @media screen and (max-width: $breakpoint-mobile) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "site-footer__content"
        "site-footer__navigation"
        "site-footer__bottom";
      padding-inline: var(--gap-sm);
    }

    .site-footer__content {
      grid-area: site-footer__content;
      width: 50%;
      text-wrap: balance;
      display: flex;
      flex-direction: column;
      gap: var(--gap);
      align-items: flex-start;

      @media screen and (max-width: $breakpoint-mobile) {
        width: 100%;
        align-items: center;
        text-align: center;
      }

      p {
        color: inherit;
      }
    }
    .site-footer__navigation {
      grid-area: site-footer__navigation;
      .menu {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        gap: var(--gap-lg) var(--gap);

        @media screen and (max-width: $breakpoint-mobile) {
          grid-auto-flow: unset;
          grid-auto-columns: unset;
          grid-template-columns: 1fr 1fr;
        }

        .menu-item {
          &.menu-item-has-children {
            > a {
              @extend .text__size-body--md;
              color: var(--color-neutral-3);
              margin-bottom: var(--gap-sm);
              display: block;
            }

            .sub-menu {
              li {
                @extend .text__size-body--sm;
                color: var(--color-light);
                &:not(:last-child) {
                  margin-bottom: var(--gap-xs);
                }
              }
            }
          }
        }
      }
    }

    .site-footer__bottom {
      grid-area: site-footer__bottom;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "copyright privacy-policy  social-media";
      gap: var(--gap-sm);
      text-wrap: balance;
      @media screen and (max-width: $breakpoint-mobile) {
        grid-template-columns: 1fr;
        grid-template-areas: "social-media" "copyright" "privacy-policy";
        text-align: center;
      }

      p {
        color: inherit;
      }

      &-copyright {
        grid-area: copyright;
        align-self: center;
      }
      &-privacy-policy {
        grid-area: privacy-policy;
        text-align: center;
        color: inherit;
        align-self: center;
      }

      &-social-media {
        grid-area: social-media;
        display: flex;
        gap: var(--gap-sm);
        justify-content: flex-end;
        color: var(--color-light);
        @media screen and (max-width: $breakpoint-mobile) {
          justify-content: center;
        }
        &-link {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 1.5rem;
          height: 1.5rem;
          svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}
