@use "variables" as *;

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  color: var(--color-secondary-1);

  &__navigation {
    position: relative;
  }

  &__toggle {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 2rem;
    height: 2rem;
    @media screen and (max-width: $breakpoint-mobile) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &-line {
      width: 1.5rem;
      height: 2px;
      background-color: var(--color-light);
      margin: 0.15rem 0;
      transition: margin var(--transition-duration) var(--transition-duration),
        transform var(--transition-duration) 0s,
        opacity var(--transition-duration) var(--transition-duration),
        background-color var(--transition-duration-ease-in-out);

      body.scrolled &,
      body.site-header-open & {
        background-color: currentColor;
      }

      body.site-header-open & {
        margin-block: -1px;
        transition: transform var(--transition-duration-ease-in-out);
        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.main-navigation {
  @media screen and (max-width: $breakpoint-mobile) {
    display: flex;
    flex-direction: column;
    height: 52px;
    overflow: hidden;
    transition: height var(--transition-duration-ease-in-out);

    body.site-header-open & {
      height: 100svh;
      overflow-y: auto;
    }
  }
  .menu {
    display: flex;
    align-items: center;
    gap: var(--gap);
    height: 100%;
    @media screen and (max-width: $breakpoint-mobile) {
      flex-direction: column;
      justify-self: center !important;
    }

    &-item {
      &--level-0 {
        height: 100%;
        align-self: center;
        display: flex;

        @media screen and (max-width: $breakpoint-mobile) {
          width: 100%;
          flex-direction: column;
        }

        > .menu-item__link {
          display: flex;
          align-items: center;
          gap: var(--gap-xs);

          @media screen and (max-width: $breakpoint-mobile) {
            width: 100%;
            justify-content: space-between;
          }

          > .menu-item__indicator {
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid currentColor;
            transition: transform var(--transition-duration-ease-in-out);
          }
        }

        &:hover {
          @media screen and (min-width: $breakpoint-mobile) {
            .mega-menu {
              opacity: 1;
              pointer-events: auto;
            }

            .menu-item__indicator {
              transform: rotate(180deg);
            }
          }
        }

        &.is-open {
          .mega-menu {
            height: auto;
          }
          .menu-item__indicator {
            transform: rotate(180deg);
          }
        }
      }

      .mega-menu {
        position: absolute;
        top: calc(100% - var(--gap-xs));
        left: 0;
        right: 0;
        width: 100%;
        z-index: 100;
        background-color: var(--color-light);
        opacity: 0;
        transition: opacity var(--transition-duration-ease-in-out);
        pointer-events: none;

        @media screen and (max-width: $breakpoint-mobile) {
          position: relative;
          top: unset;
          left: unset;
          right: unset;
          width: 100%;
          opacity: 1;
          pointer-events: auto;
          height: 0;
          overflow: hidden;
        }

        &-container {
          padding: var(--gap);
          max-width: var(--page-width);
          margin-inline: auto;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;

          @media screen and (max-width: $breakpoint-mobile) {
            padding: var(--gap) var(--gap-sm);
            flex-direction: column;
            gap: var(--gap);
          }
        }

        &-content {
          width: calc(80% - var(--gap-lg));
          flex: 1;
          @media screen and (max-width: $breakpoint-mobile) {
            width: 100%;
          }
          .sub-menu {
            &--level-1 {
              display: grid;
              grid-auto-flow: column;
              grid-auto-columns: 1fr;
              gap: var(--gap-lg);
              @media screen and (max-width: $breakpoint-mobile) {
                grid-auto-flow: row;
                grid-auto-columns: unset;
                grid-template-columns: 1fr;
                gap: var(--gap);
              }

              > .menu-item {
                &:not(:last-child) {
                  position: relative;
                  &:before {
                    content: "";
                    display: block;
                    width: 1px;
                    height: 100%;
                    background-color: var(--color-neutral-3);
                    position: absolute;
                    right: calc(var(--gap) * -1);
                    @media screen and (max-width: $breakpoint-mobile) {
                      display: none;
                    }
                  }
                }

                > .menu-item__link {
                  @extend .text__body--bold;
                }
              }
            }

            &--level-2 {
              margin-top: var(--gap-sm);
              .menu-item {
                @extend .text__size-body--sm;
                margin-top: var(--gap-xs);
              }
            }
          }
        }

        &-sidebar {
          width: 20%;
          flex-shrink: 0;
          background-color: var(--color-neutral-4);
          padding: var(--gap-sm);
          text-wrap: balance;
          display: flex;
          flex-direction: column;
          gap: var(--gap-sm);
          @media screen and (max-width: $breakpoint-mobile) {
            width: 100%;
          }
          &__button {
            font-size: var(--font-size-body-sm);
            padding-inline: 1rem;
          }
        }
      }

      &__image {
        height: 300px;
        object-fit: cover;
        width: 100%;
        margin-bottom: var(--gap-sm);
        @media screen and (max-width: $breakpoint-mobile) {
          height: 200px;
        }
      }

      &.has-4-levels {
        .mega-menu {
          &-content {
            .sub-menu {
              &--level-1 {
                grid-template-columns: repeat(4, 1fr);
                grid-auto-flow: unset;
                grid-auto-columns: unset;
                @media screen and (max-width: $breakpoint-mobile) {
                  grid-template-columns: 1fr;
                  gap: var(--gap);
                }
                > .menu-item {
                  &:nth-child(1) {
                    grid-column: 1 / -1;

                    .sub-menu {
                      &--level-2 {
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        gap: var(--gap-lg);
                        @media screen and (max-width: $breakpoint-mobile) {
                          grid-template-columns: 1fr;
                          gap: var(--gap);
                        }
                        > .menu-item {
                          > .menu-item__link {
                            font-weight: 600;
                          }
                        }
                      }
                    }
                  }

                  &:not(:last-child) {
                    &:before {
                      content: unset;
                    }
                  }

                  > .menu-item__link {
                    @extend .text__size-4;
                  }
                }
              }

              &--level-2 {
                > .menu-item {
                  margin-top: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  &__top {
    background-color: var(--color-neutral-3);
    transition: max-height var(--transition-duration-ease-in-out);
    overflow: hidden;
    max-height: 2.25rem;

    @media screen and (max-width: $breakpoint-mobile) {
      order: 1;
      max-height: unset !important;
    }

    body.scrolled & {
      max-height: 0;
    }

    body.scrolling-up:not(.at-top) & {
      max-height: 2.25rem;
    }

    body.at-top & {
      max-height: 2.25rem;
    }

    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: var(--gap);
      padding-block: var(--gap-xxs);
      @media screen and (max-width: $breakpoint-mobile) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: var(--gap-sm);
      }
      .menu {
        @media screen and (max-width: $breakpoint-mobile) {
          flex-direction: row;
          gap: var(--gap-sm);
          overflow-x: auto;
          min-height: 1.25rem;
        }
        li {
          @media screen and (max-width: $breakpoint-mobile) {
            flex-shrink: 0;
          }
          a {
            @extend .text__size-body--sm;
          }
        }
      }
    }
  }

  &__bottom {
    @extend .text__size-body--md;
    padding-block: var(--gap-xs);
    color: var(--color-light);
    transition: background-color var(--transition-duration-ease-in-out),
      color var(--transition-duration-ease-in-out);

    body.at-top & {
      background-color: transparent;
      color: var(--color-light);
    }

    body.scrolled &,
    body.scrolling-up:not(.at-top) &,
    body.site-header-open & {
      background-color: var(--color-light);
      color: var(--color-dark);
    }

    &-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "logo primary-menu header-buttons";
      gap: var(--gap);

      @media screen and (max-width: $breakpoint-mobile) {
        grid-template-columns: 1fr;
        grid-template-areas: "logo" "primary-menu" "header-buttons";
        padding-inline: var(--gap-sm);
      }
    }
  }

  &__logo {
    grid-area: logo;
    align-items: center;
    justify-self: start;
    display: grid;
    grid-template-areas: "a";
    width: 130px;
    @media screen and (max-width: $breakpoint-mobile) {
      width: 100px;
    }
    &-image {
      width: 100%;
      height: 100%;
      object-fit: contain;
      grid-area: a;
      transition: opacity var(--transition-duration-ease-in-out);

      &.--primary {
        opacity: 0;
        body.at-top & {
          opacity: 0;
        }
        body.scrolled &,
        body.scrolling-up:not(.at-top) &,
        body.site-header-open & {
          opacity: 1;
        }
      }
      &.--secondary {
        opacity: 1;
        body.at-top & {
          opacity: 1;
        }
        body.scrolled &,
        body.scrolling-up:not(.at-top) &,
        body.site-header-open & {
          opacity: 0;
        }
      }
    }
  }

  &__primary-menu {
    grid-area: primary-menu;
    justify-self: center;
    align-self: center;
    height: 100%;

    @media screen and (max-width: $breakpoint-mobile) {
      justify-self: start;
    }
  }

  &__secondary-menu {
    width: 100%;
  }

  &__header-buttons {
    grid-area: header-buttons;
    justify-self: end;
    align-self: center;
    @media screen and (max-width: $breakpoint-mobile) {
      justify-self: center;
      width: 100%;
    }
    .menu {
      gap: var(--gap-xs);
      @media screen and (max-width: $breakpoint-mobile) {
        flex-direction: row;
      }
      &-item {
        @media screen and (max-width: $breakpoint-mobile) {
          &:nth-child(1) {
            width: 100%;
          }
        }
      }
      .button {
        font-size: var(--font-size-body-sm);
        padding-inline: 1rem;
        @media screen and (max-width: $breakpoint-mobile) {
          width: 100%;
        }
      }
    }
  }

  &__search {
    display: grid;
    grid-template-areas: "a";
    margin-right: -24px;

    @media screen and (max-width: $breakpoint-mobile) {
      margin-right: 0;
      width: 100%;
    }
    &-toggle {
      grid-area: a;
      display: flex;
      align-items: center;
      gap: var(--gap-xs);
      justify-self: end;
      padding-bottom: 1px;
      cursor: pointer;
      transition: opacity var(--transition-duration-ease-in-out);

      &:after {
        content: "";
        display: block;
        height: 24px;
        width: 24px;
      }

      body.search-open & {
        opacity: 0;
        pointer-events: none;
      }

      @media screen and (max-width: $breakpoint-mobile) {
        display: none;
      }
    }

    &-close {
      @media screen and (max-width: $breakpoint-mobile) {
        display: none !important;
      }
    }
    form {
      grid-area: a;
      display: flex;
      align-items: center;
      gap: var(--gap-xs);
      opacity: 0;
      pointer-events: none;
      transition: opacity var(--transition-duration-ease-in-out);
      pointer-events: none;
      @media screen and (max-width: $breakpoint-mobile) {
        opacity: 1;
        pointer-events: auto;
      }
      body.search-open & {
        opacity: 1;
        pointer-events: auto;
      }

      input {
        @extend .text__size-body--sm;
        font-family: var(--font-family-body);
        padding: 0;
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid currentColor;
        border-radius: 0;
        @media screen and (max-width: $breakpoint-mobile) {
          width: 100%;
        }
      }
    }

    button {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        height: 100%;
        width: 100%;
        color: var(--color-dark);
      }
    }
  }
}
