$breakpoint-mobile: 850px;
$breakpoint-tablet: 1080px;
$breakpoint-content: 1200px;
$breakpoint-laptop: 1440px;
$breakpoint-desktop-s: 1600px;
$breakpoint-desktop: 1920px;
h1,
.text__size-1 {
  font-family: var(--font-primary);
  font-size: var(--font-size-1);
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.07em;
  text-wrap: balance;
  @media screen and (max-width: $breakpoint-mobile) {
    text-wrap: wrap;
  }

  em,
  i {
    color: var(--color-primary-1);
  }
}
.text__size-1--italic {
  @extend .text__size-1;
  font-style: italic;
}
h2,
.text__size-2 {
  font-family: var(--font-primary);
  font-size: var(--font-size-2);
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.07em;
  text-wrap: balance;
  @media screen and (max-width: $breakpoint-mobile) {
    text-wrap: wrap;
  }

  em,
  i {
    color: var(--color-primary-1);
  }
}
.text__size-2--italic {
  @extend .text__size-2;
  font-style: italic;
}
h3,
.text__size-3 {
  font-family: var(--font-primary);
  font-size: var(--font-size-3);
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.07em;
}
.text__size-3--italic {
  @extend .text__size-3;
  font-size: var(--font-size-3--alt);
  font-style: italic;
}
h4,
.text__size-4 {
  font-family: var(--font-primary);
  font-size: var(--font-size-4);
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.07em;
}
p,
.text__size-body--md {
  font-family: var(--font-secondary);
  font-size: var(--font-size-body-md);
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.04em;
}
.text__size-body--lg {
  font-family: var(--font-secondary);
  font-size: var(--font-size-body-lg);
  line-height: 1.4;
  font-weight: 500;
  letter-spacing: -0.04em;
}
.text__size-body--sm {
  font-family: var(--font-secondary);
  font-size: var(--font-size-body-sm);
  font-weight: 500;
  letter-spacing: -0.04em;
}
.text__body--bold {
  font-family: var(--font-secondary);
  font-weight: 600;
}
.text__button {
  font-family: var(--font-secondary);
  font-size: var(--font-size-body-md);
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
}

.button {
  @extend .text__button;
  display: inline-block;
  padding: 0.85rem 1.5rem;
  text-align: center;
  border-radius: var(--border-radius);
  color: var(--color-light);
  position: relative;
  overflow: hidden;
  transition: color var(--transition-duration-ease-in-out);

  &--primary {
    background-color: var(--color-primary-1);
  }

  &--secondary {
    background-color: var(--color-dark);
  }

  &--neutral {
    background-color: var(--color-neutral-4);
    color: var(--color-dark);
    font-size: 1rem;
    &:hover {
      color: var(--color-light);
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: var(--ripple-y, 50%);
    left: var(--ripple-x, 50%);
    width: var(--ripple-size, 0px);
    height: var(--ripple-size, 0px);
    background-color: var(--color-primary-2);
    border-radius: 50%; // Make it a perfect circle
    transform: translate(-50%, -50%) scale(var(--ripple-scale, 0));
    transform-origin: center center; // Always scale from center of circle
    z-index: -1;
    pointer-events: none;
  }
  &__text {
    @extend .text__size-body--sm;
    display: inline-block;
    position: relative;
    color: var(--color-primary-1);
    transition: color var(--transition-duration-ease-in-out);
    display: flex;
    align-items: center;
    gap: var(--gap-xs);
    &::after {
      content: url("assets/icons/arrow--diagonal.svg");
      background-color: var(--color-primary-1);
      border-radius: var(--border-radius);
      width: var(--gap);
      height: var(--gap);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color var(--transition-duration-ease-in-out),
        transform var(--transition-duration-ease-in-out);
    }
    &:hover {
      color: var(--color-primary-2);
      &::after {
        background-color: var(--color-primary-2);
        transform: scale(1.2) translateX(5%);
      }
    }
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-light);
    color: var(--color-dark);
    border-radius: 50%;
    transition: background-color var(--transition-duration-ease-in-out),
      color var(--transition-duration-ease-in-out);
    &-image,
    svg {
      width: 50%;
      height: 50%;
      object-fit: contain;
      object-position: center;
    }

    &:hover {
      background-color: var(--color-neutral-3);
    }

    &.--ghost {
      background-color: var(--color-transparent-light);
      color: var(--color-light);
      &:hover {
        background: var(--color-light);
        color: var(--color-dark);
      }
    }
  }

  &,
  > *,
  svg,
  span,
  text {
    position: relative;
    z-index: 1;
  }
}
.no-overflow {
  overflow: hidden;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
